<!DOCTYPE html>
<html>
{{> head }}
<body>
 {{> nav }}
 <h1><center>Login</center></h1>
 <center>
<form action="/" method="post">
  Email Login<br>
  <input type="text" placeholder="Enter email" name="userlogin" required>
  <br>
  Password<br>
  <input type="password" placeholder="Enter password" name="psw" required>
  <br><br>
  <input  type="submit" value="Login">
</form>
 </center>

 {{> bootstrap-from-cdn-body }}
</body>
</html>
