<!DOCTYPE html>
<html>
{{> head }}
<body>
	<center> <legend> <h2> <font face = "helvetica">SIGN UP</font> </h2></legend>

<form action="/add/student" method="post">
  First name:<br>
  <input type="text" name="firstname" value="">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="">
  <br>
  Phone #:<br>
  <input type="tel" name="phone" value="">
  <br>
  Email:<br>
  <input type="text" name="email" value = "">
  <br>
  Password:<br>
  <input type="password" name="pass" 
		minlength = "8" required
		placeholder = "8 characters minimum">
  <br><br>
  <button type="button" class="cancelbtn"><a href="http://gauchogains.herokuapp.com"> <font color = "black"> Cancel </a></button>
  <input type="submit" value="Sign Up">
   
</form> 
 
 {{> bootstrap-from-cdn-body }}
</body>
</html>
