<!DOCTYPE html>
<html>
{{> head }}
<body>
 {{> nav }}
 <h1>Student Form</h1>

<form action="/add/student" method="post">
  First name:<br>
  <input type="text" name="firstname" value="">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="">
  <br><br>
  Phone #:<br>
  <input type="text" name="perm" value="(   )   -    ">
  <br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/add/student".</p>


 {{> bootstrap-from-cdn-body }}
</body>
</html>
