<style>
	body,html{
		height:100%;
		}
		.btn-outline-light{
			background-color:transparent;
			border-color:#fff;
			color:white;
		}
		.btn-outline-light:hover{
			color:#2b5876;
			background-color:#fff;
		}
		.bg{    
    			background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    			background-repeat:no-repeat;
    			height: 100%;
			background-size:cover;
		}			
		.container{
		    min-height:100%;
		    padding: 100px 150px;
		}
		.navbar {
		    margin-bottom: 0;
		    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
		    border: 0;
		    font-size: 11px !important;
		    letter-spacing: 4px;
		    opacity:0.9;
		}
	
		.navbar-nav li a:hover, .navbar-nav li.active a {
		    color: transparent; !important;
		    background-color: #fff; !important;
		}
		
		.navbar li a, .navbar .navbar-brand {
		    color: #fff;
		}
		
		.top-nav-collapse {
		    background-color: #fff !important;
		}
		.md-form .prefix {
		    font-size: 1.5rem;
		    margin-top: 1rem;
		}
		.md-form label {
		    color: #ffffff;
		}
</style>